* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background: red ;
}

.dropdown-item {
    position: relative;
}
.dropdown-item > div.dropdown-menu > ul {

    display: none;
    position: absolute;

}

div.dropdown-menu > ul.active {
    display: block;
}
.header-left {
    float: left;
    display: flex;
    width: 40% ;
    height: 100% ;
    justify-content: flex-start;
}

.logo {
    width:  100px ;
    height: 100% ;
}
.logo img {
    width: 100% ;
}


.header-left ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    list-style-type: none;
}

.header-right {
    width: 60%;
    height: 100% ;
    display: flex;
    justify-content: space-around;
}
.header-right ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
